@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --neutral-1: oklch(0.95 0.004 277.942);
  --neutral-2: oklch(0.883 0.01 277.942);
  --neutral-3: oklch(0.817 0.015 277.942);
  --neutral-4: oklch(0.75 0.021 277.942);
  --neutral-5: oklch(0.683 0.028 277.942);
  --neutral-6: oklch(0.617 0.034 277.942);
  --neutral-7: oklch(0.55 0.041 277.942);
  --neutral-8: oklch(0.483 0.045 277.942);
  --neutral-9: oklch(0.417 0.039 277.942);
  --neutral-10: oklch(0.35 0.033 277.942);
  --neutral-11: oklch(0.283 0.027 277.942);
  --neutral-12: oklch(0.217 0.02 277.942);
  --neutral-13: oklch(0.15 0.014 277.942);

  --primary-1: oklch(0.9 0.041 277);
  --primary-2: oklch(0.827 0.072 277);
  --primary-3: oklch(0.755 0.104 277);
  --primary-4: oklch(0.682 0.139 277);
  --primary-5: oklch(0.609 0.174 277);
  --primary-6: oklch(0.536 0.211 277);
  --primary-7: oklch(0.464 0.219 277);
  --primary-8: oklch(0.391 0.185 277);
  --primary-9: oklch(0.318 0.15 277);
  --primary-10: oklch(0.245 0.116 277);
  --primary-11: oklch(0.173 0.082 277);
  --primary-12: oklch(0.1 0.047 277);

  /* --background: oklch(0.973 0.00011 271.152); */
  --background: var(--neutral-1);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.51 0.23 277);
  --primary: var(--primary-6);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: var(--neutral-1);
  --muted-foreground: var(--neutral-7);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.51 0.23 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --neutral-13: oklch(0.95 0.004 277.942);
  --neutral-12: oklch(0.883 0.01 277.942);
  --neutral-11: oklch(0.817 0.015 277.942);
  --neutral-10: oklch(0.75 0.021 277.942);
  --neutral-9: oklch(0.683 0.028 277.942);
  --neutral-8: oklch(0.617 0.034 277.942);
  --neutral-7: oklch(0.55 0.041 277.942);
  --neutral-6: oklch(0.483 0.045 277.942);
  --neutral-5: oklch(0.417 0.039 277.942);
  --neutral-4: oklch(0.35 0.033 277.942);
  --neutral-3: oklch(0.283 0.027 277.942);
  --neutral-2: oklch(0.217 0.02 277.942);
  --neutral-1: oklch(0.15 0.014 277.942);

  --primary-12: oklch(0.9 0.041 277);
  --primary-11: oklch(0.827 0.072 277);
  --primary-10: oklch(0.755 0.104 277);
  --primary-9: oklch(0.682 0.139 277);
  --primary-8: oklch(0.609 0.174 277);
  --primary-7: oklch(0.536 0.211 277);
  --primary-6: oklch(0.464 0.219 277);
  --primary-5: oklch(0.391 0.185 277);
  --primary-4: oklch(0.318 0.15 277);
  --primary-3: oklch(0.245 0.116 277);
  --primary-2: oklch(0.173 0.082 277);
  --primary-1: oklch(0.1 0.047 277);

  /* --background: oklch(0.13 0.028 261.692); */
  --background: var(--neutral-1);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  /* --primary: oklch(0.4386 0.248 285.55); */
  --primary: var(--primary-6);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: var(--neutral-1);
  --muted-foreground: var(--neutral-8);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.68 0.16 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;

  --color-neutral-13: var(--neutral-13);
  --color-neutral-12: var(--neutral-12);
  --color-neutral-11: var(--neutral-11);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-1: var(--neutral-1);

  --color-primary-12: var(--primary-12);
  --color-primary-11: var(--primary-11);
  --color-primary-10: var(--primary-10);
  --color-primary-9: var(--primary-9);
  --color-primary-8: var(--primary-8);
  --color-primary-7: var(--primary-7);
  --color-primary-6: var(--primary-6);
  --color-primary-5: var(--primary-5);
  --color-primary-4: var(--primary-4);
  --color-primary-3: var(--primary-3);
  --color-primary-2: var(--primary-2);
  --color-primary-1: var(--primary-1);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --text-trim-both: trim-both;
  --text-trim-start: trim-start;
  --text-trim-end: trim-end;

  --breakpoint-xs: 30rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  header {
    view-transition-name: header;
  }
  a.transitioning [data-event-picture] {
    view-transition-name: event-picture;
  }
  a.transitioning [data-event-title] {
    view-transition-name: event-title;
  }
}

@utility prose-neutral {
  --tw-prose-body: var(--neutral-11);
  --tw-prose-headings: var(--neutral-11);
  --tw-prose-lead: var(--neutral-9);
  --tw-prose-links: var(--neutral-11);
  --tw-prose-bold: var(--neutral-11);
  --tw-prose-counters: var(--neutral-8);
  --tw-prose-bullets: var(--neutral-8);
  --tw-prose-hr: var(--neutral-8);
  --tw-prose-quotes: var(--neutral-11);
  --tw-prose-quote-borders: var(--neutral-8);
  --tw-prose-captions: var(--neutral-9);
  --tw-prose-code: var(--neutral-11);
  --tw-prose-pre-code: var(--neutral-8);
  --tw-prose-pre-bg: var(--neutral-11);
  --tw-prose-th-borders: var(--neutral-8);
  --tw-prose-td-borders: var(--neutral-8);
  --tw-prose-invert-body: var(--neutral-8);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--neutral-8);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--neutral-8);
  --tw-prose-invert-bullets: var(--neutral-8);
  --tw-prose-invert-hr: var(--neutral-9);
  --tw-prose-invert-quotes: var(--neutral-8);
  --tw-prose-invert-quote-borders: var(--neutral-9);
  --tw-prose-invert-captions: var(--neutral-8);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--neutral-8);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--neutral-8);
  --tw-prose-invert-td-borders: var(--neutral-9);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-trim-* {
  text-box-trim: --value(--text-trim-*, "none");
}

@utility text-edge-* {
  text-box-edge: --value(--textedge-*, "text", "alphabetic", "ideographic", "cap", "ex", [*]);
}
